<td class="rowJugador">
	<label for="jugadorName">Jugador</label>
	<select name="jugadorName" class="jugadorName" ></select>
	<label for="isWinner">Ganador?</label>
	<input type="checkbox" name="isWinner" class="isWinner" />
	<label for="isMvp">MVP?</label>
	<input type="radio" name="isMvp" class="isMvp" />
	<label for="puntajeJugador">Puntaje</label>
	<input type="number" name="puntajeJugador" class="puntajeJugador" min="0" value="0" step ="10" />
	<label for="golesJugador">Goles</label>
	<input type="number" name="golesJugador" class="golesJugador" min="0" value="0" step ="1" />
	<label for="asistenciasJugador">Asistencias</label>
	<input type="number" name="asistenciasJugador" class="asistenciasJugador" min="0" value="0" step ="1" />
	<label for="salvadasJugador">Salvadas</label>
	<input type="number" name="salvadasJugador" class="salvadasJugador" min="0" value="0" step ="1" />
	<label for="tirosJugador">Disparos</label>
	<input type="number" name="tirosJugador" class="tirosJugador" min="0" value="0" step ="1" />
</td>