<div class="rocketGeneralContainer">
	<button class="rocketButton" onclick="iniciarTablaEstadisticasPorPartido(0)" >Todos</button>
	<button class="rocketButton" onclick="iniciarTablaEstadisticasPorPartido(1)" >Individual</button>
	<button class="rocketButton" onclick="iniciarTablaEstadisticasPorPartido(2)" >2vs2</button>
	<button class="rocketButton" onclick="iniciarTablaEstadisticasPorPartido(3)" >3vs3</button>
	<button class="rocketButton" onclick="iniciarTablaEstadisticasPorPartido(4)" >4vs4</button>
</div>